<?xml version="1.0" encoding="utf-8" standalone="no"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <ExcludeByFile>**/DTOs/*.cs,**/Entities/*.cs,**/Migrations/*.cs,**/GlobalUsings.cs,**/Program.cs,**/Constants/*.cs,**/Properties/*.cs,**/bin/**/*,**/obj/**/*</ExcludeByFile>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverage</ExcludeByAttribute>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
